### Таблица с чисткой, но без удаления не доставленных товаров.

In [1]:
import numpy as np 
import pandas as pd

In [69]:
df = pd.read_csv('data.csv', sep=';', encoding='cp1251')

In [70]:
df = df[(df['Количество'] > 0)]

In [71]:
df = df[(df['Отменено'] != 'Да')]

In [72]:
df = df[(df['СуммаЗаказаНаСайте'] != 0) | (df['СуммаДокумента'] != 0)]

In [73]:
df = df[(df['КоличествоПроданоКлиенту'] > 0)]

In [74]:
df

,Дата,ДатаДоставки,НомерЗаказаНаСайте,НовыйСтатус,СуммаЗаказаНаСайте,СуммаДокумента,МетодДоставки,ФормаОплаты,Регион,Группа2,...,СуммаДоставки,НомерСтроки,КоличествоПроданоКлиенту,ДатаЗаказаНаСайте,Телефон_new,ЭлектроннаяПочта_new,Клиент,ID_SKU,ГородМагазина,МагазинЗаказа
0,01.07.2017 0:00,06.07.2017 0:00,5031788_TR,Доставлен,1 634,1 634,Магазины,Безналичная,Москва,"ТЕКСТИЛЬ, ТРИКОТАЖ",...,49,3,1,30.06.2017 0:00,55574948-52495050484877,116117_tu17@mail.ru,Татьяна,IDL00051334048,0,NaN
1,01.07.2017 0:00,06.07.2017 0:00,5031788_TR,Доставлен,1 634,1 634,Магазины,Безналичная,Москва,"ТЕКСТИЛЬ, ТРИКОТАЖ",...,49,4,1,30.06.2017 0:00,55574948-52495050484877,116117_tu17@mail.ru,Татьяна,IDL00051367351,0,NaN
2,01.07.2017 0:00,06.07.2017 0:00,5031788_TR,Доставлен,1 634,1 634,Магазины,Безналичная,Москва,"ТЕКСТИЛЬ, ТРИКОТАЖ",...,49,7,1,30.06.2017 0:00,55574948-52495050484877,116117_tu17@mail.ru,Татьяна,IDL00007611755,0,NaN
3,01.07.2017 0:00,06.07.2017 0:00,5031788_TR,Доставлен,1 634,1 634,Магазины,Безналичная,Москва,"ТЕКСТИЛЬ, ТРИКОТАЖ",...,49,1,1,30.06.2017 0:00,55574948-52495050484877,116117_tu17@mail.ru,Татьяна,IDL00014478250,0,NaN
4,01.07.2017 0:00,06.07.2017 0:00,5031788_TR,Доставлен,1 634,1 634,Магазины,Безналичная,Москва,"ТЕКСТИЛЬ, ТРИКОТАЖ",...,49,9,1,30.06.2017 0:00,55574948-52495050484877,116117_tu17@mail.ru,Татьяна,IDL00001209351,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
797183,31.08.2017 23:42,06.09.2017 0:00,5413162_TR,К отгрузке,5 611,5 225,Курьерская,Наличная,Путилково (Красногорский район),NaN,...,150,1,1,31.08.2017 0:00,55575054-56515648485772,118117_vu18@mail.ru,Виктория,ID10022107250,0,NaN
797186,31.08.2017 23:42,06.09.2017 0:00,5413162_TR,К отгрузке,5 611,5 225,Курьерская,Наличная,Путилково (Красногорский район),ИГРУШКИ,...,150,2,1,31.08.2017 0:00,55575054-56515648485772,118117_vu18@mail.ru,Виктория,ID10015878250,0,NaN
797187,31.08.2017 23:42,06.09.2017 0:00,5413162_TR,К отгрузке,5 611,5 225,Курьерская,Наличная,Путилково (Красногорский район),КРУПНОГАБАРИТНЫЙ ТОВАР,...,150,1,1,31.08.2017 0:00,55575054-56515648485772,118117_vu18@mail.ru,Виктория,IDL00017673957,0,NaN
797189,31.08.2017 23:42,06.09.2017 0:00,5413162_TR,К отгрузке,5 611,5 225,Курьерская,Наличная,Путилково (Красногорский район),"КАНЦТОВАРЫ, КНИГИ, ДИСКИ",...,150,7,1,31.08.2017 0:00,55575054-56515648485772,118117_vu18@mail.ru,Виктория,IDL00036203856,0,NaN
797191,31.08.2017 23:42,06.09.2017 0:00,5413162_TR,К отгрузке,5 611,5 225,Курьерская,Наличная,Путилково (Красногорский район),ИГРУШКИ,...,150,5,1,31.08.2017 0:00,55575054-56515648485772,118117_vu18@mail.ru,Виктория,IDL00036642351,0,NaN

In [75]:
df.to_csv('filtered_dataAll.csv', index=False, sep=';', encoding='utf-8-sig')

### Мы создаем новую таблицу. В экселе редактируем и убираем пустные значения в столбце "Регион", заменяя их на значения из столбца "Город магазина".

In [87]:
df = pd.read_csv('filtered_dataAll2.csv', sep=';', encoding='utf-8-sig')

In [88]:
df

,Дата,ДатаДоставки,НомерЗаказаНаСайте,НовыйСтатус,СуммаЗаказаНаСайте,СуммаДокумента,МетодДоставки,ФормаОплаты,Регион,Группа2,...,НомерСтроки,КоличествоПроданоКлиенту,ДатаЗаказаНаСайте,Телефон_new,ЭлектроннаяПочта_new,Клиент,ID_SKU,ГородМагазина,МагазинЗаказа,НоваяМаржа
0,01.07.2017 0:00,06.07.2017 0:00,5031788_TR,Доставлен,1 634,1 634,Магазины,Безналичная,Москва,"ТЕКСТИЛЬ, ТРИКОТАЖ",...,3,1,30.06.2017 0:00,55574948-52495050484877,116117_tu17@mail.ru,Татьяна,IDL00051334048,0,NaN,"26,9"
1,01.07.2017 0:00,06.07.2017 0:00,5031788_TR,Доставлен,1 634,1 634,Магазины,Безналичная,Москва,"ТЕКСТИЛЬ, ТРИКОТАЖ",...,4,1,30.06.2017 0:00,55574948-52495050484877,116117_tu17@mail.ru,Татьяна,IDL00051367351,0,NaN,"26,9"
2,01.07.2017 0:00,06.07.2017 0:00,5031788_TR,Доставлен,1 634,1 634,Магазины,Безналичная,Москва,"ТЕКСТИЛЬ, ТРИКОТАЖ",...,7,1,30.06.2017 0:00,55574948-52495050484877,116117_tu17@mail.ru,Татьяна,IDL00007611755,0,NaN,"8,04"
3,01.07.2017 0:00,06.07.2017 0:00,5031788_TR,Доставлен,1 634,1 634,Магазины,Безналичная,Москва,"ТЕКСТИЛЬ, ТРИКОТАЖ",...,1,1,30.06.2017 0:00,55574948-52495050484877,116117_tu17@mail.ru,Татьяна,IDL00014478250,0,NaN,"5,79"
4,01.07.2017 0:00,06.07.2017 0:00,5031788_TR,Доставлен,1 634,1 634,Магазины,Безналичная,Москва,"ТЕКСТИЛЬ, ТРИКОТАЖ",...,9,1,30.06.2017 0:00,55574948-52495050484877,116117_tu17@mail.ru,Татьяна,IDL00001209351,0,NaN,"63,79"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
627119,31.08.2017 23:42,04.09.2017 0:00,5412856_TR,Доставлен,3 189,3 189,Магазины,Безналичная,Химки (Московская область район),"ТЕКСТИЛЬ, ТРИКОТАЖ",...,3,1,31.08.2017 0:00,55575653-55545554554979,118117_vu22@kamelia-dress.ru,Александр,IDL00033741553,0,NaN,"202,73"
627120,31.08.2017 23:42,04.09.2017 0:00,5412856_TR,Доставлен,3 189,3 189,Магазины,Безналичная,Химки (Московская область район),ПОДГУЗНИКИ,...,8,1,31.08.2017 0:00,55575653-55545554554979,118117_vu22@kamelia-dress.ru,Александр,ID10005324250,0,NaN,"-18,25"
627121,31.08.2017 23:42,09.09.2017 0:00,5412886_TR,Возврат из ПВЗ,1 405,1 405,Магазины,Безналичная,Черноголовка (Ногинский район),NaN,...,1,1,31.08.2017 0:00,55575054-52555750505673,97117_au28@yandex.ru,Александра,ID10022107250,0,NaN,99
627122,31.08.2017 23:42,07.09.2017 0:00,5413024_TR,Доставлен,1 194,1 194,Магазины,Безналичная,Ярославль,ПОДГУЗНИКИ,...,1,1,31.08.2017 0:00,55575048-54534949515576,98109_bm24@gmail.com,Константин,IDL00028471149,0,NaN,179
627123,31.08.2017 23:42,07.09.2017 0:00,5413024_TR,Доставлен,1 194,1 194,Магазины,Безналичная,Ярославль,NaN,...,1,1,31.08.2017 0:00,55575048-54534949515576,98109_bm24@gmail.com,Константин,ID10022107250,0,NaN,149

In [89]:
df2 = df[(df['Регион'] == '0')]

In [90]:
df2

,Дата,ДатаДоставки,НомерЗаказаНаСайте,НовыйСтатус,СуммаЗаказаНаСайте,СуммаДокумента,МетодДоставки,ФормаОплаты,Регион,Группа2,...,НомерСтроки,КоличествоПроданоКлиенту,ДатаЗаказаНаСайте,Телефон_new,ЭлектроннаяПочта_new,Клиент,ID_SKU,ГородМагазина,МагазинЗаказа,НоваяМаржа
118494,13.07.2017 2:14,NaN,5115727_ES,В резерве,1 311,1 311,NaN,NaN,0,ИГРУШКИ,...,1,1,13.07.2017 0:00,0,97117_au21@aoffnchfa.ru,0,IDL00025079755,0,NaN,"372,92"
129001,14.07.2017 2:14,NaN,5123143_ES,В резерве,1 301,1 301,NaN,NaN,0,ИГРУШКИ,...,1,1,14.07.2017 0:00,0,97117_au21@asbpbbou.ru,0,ID10019215351,0,NaN,258
135992,15.07.2017 2:15,NaN,5130163_ES,В резерве,720,720,NaN,NaN,0,ИГРУШКИ,...,1,1,15.07.2017 0:00,0,97117_au23@acvrzwmtpih.ru,0,IDL00025077149,0,NaN,"199,79"
141774,16.07.2017 2:12,NaN,5134897_ES,В резерве,780,780,NaN,NaN,0,ИГРУШКИ,...,1,1,16.07.2017 0:00,0,97117_au26@aseidagngq.ru,0,IDL00030637351,0,NaN,"222,24"
148372,17.07.2017 2:11,NaN,5139061_ES,В резерве,1 952,1 952,NaN,NaN,0,ИГРУШКИ,...,1,1,17.07.2017 0:00,0,97117_au19@amxxmwky.ru,0,IDL00039522452,0,NaN,"452,6"

### Удаляем товары без региона.

In [91]:
df = df[(df['Регион'] != '0')]

In [92]:
df

,Дата,ДатаДоставки,НомерЗаказаНаСайте,НовыйСтатус,СуммаЗаказаНаСайте,СуммаДокумента,МетодДоставки,ФормаОплаты,Регион,Группа2,...,НомерСтроки,КоличествоПроданоКлиенту,ДатаЗаказаНаСайте,Телефон_new,ЭлектроннаяПочта_new,Клиент,ID_SKU,ГородМагазина,МагазинЗаказа,НоваяМаржа
0,01.07.2017 0:00,06.07.2017 0:00,5031788_TR,Доставлен,1 634,1 634,Магазины,Безналичная,Москва,"ТЕКСТИЛЬ, ТРИКОТАЖ",...,3,1,30.06.2017 0:00,55574948-52495050484877,116117_tu17@mail.ru,Татьяна,IDL00051334048,0,NaN,"26,9"
1,01.07.2017 0:00,06.07.2017 0:00,5031788_TR,Доставлен,1 634,1 634,Магазины,Безналичная,Москва,"ТЕКСТИЛЬ, ТРИКОТАЖ",...,4,1,30.06.2017 0:00,55574948-52495050484877,116117_tu17@mail.ru,Татьяна,IDL00051367351,0,NaN,"26,9"
2,01.07.2017 0:00,06.07.2017 0:00,5031788_TR,Доставлен,1 634,1 634,Магазины,Безналичная,Москва,"ТЕКСТИЛЬ, ТРИКОТАЖ",...,7,1,30.06.2017 0:00,55574948-52495050484877,116117_tu17@mail.ru,Татьяна,IDL00007611755,0,NaN,"8,04"
3,01.07.2017 0:00,06.07.2017 0:00,5031788_TR,Доставлен,1 634,1 634,Магазины,Безналичная,Москва,"ТЕКСТИЛЬ, ТРИКОТАЖ",...,1,1,30.06.2017 0:00,55574948-52495050484877,116117_tu17@mail.ru,Татьяна,IDL00014478250,0,NaN,"5,79"
4,01.07.2017 0:00,06.07.2017 0:00,5031788_TR,Доставлен,1 634,1 634,Магазины,Безналичная,Москва,"ТЕКСТИЛЬ, ТРИКОТАЖ",...,9,1,30.06.2017 0:00,55574948-52495050484877,116117_tu17@mail.ru,Татьяна,IDL00001209351,0,NaN,"63,79"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
627119,31.08.2017 23:42,04.09.2017 0:00,5412856_TR,Доставлен,3 189,3 189,Магазины,Безналичная,Химки (Московская область район),"ТЕКСТИЛЬ, ТРИКОТАЖ",...,3,1,31.08.2017 0:00,55575653-55545554554979,118117_vu22@kamelia-dress.ru,Александр,IDL00033741553,0,NaN,"202,73"
627120,31.08.2017 23:42,04.09.2017 0:00,5412856_TR,Доставлен,3 189,3 189,Магазины,Безналичная,Химки (Московская область район),ПОДГУЗНИКИ,...,8,1,31.08.2017 0:00,55575653-55545554554979,118117_vu22@kamelia-dress.ru,Александр,ID10005324250,0,NaN,"-18,25"
627121,31.08.2017 23:42,09.09.2017 0:00,5412886_TR,Возврат из ПВЗ,1 405,1 405,Магазины,Безналичная,Черноголовка (Ногинский район),NaN,...,1,1,31.08.2017 0:00,55575054-52555750505673,97117_au28@yandex.ru,Александра,ID10022107250,0,NaN,99
627122,31.08.2017 23:42,07.09.2017 0:00,5413024_TR,Доставлен,1 194,1 194,Магазины,Безналичная,Ярославль,ПОДГУЗНИКИ,...,1,1,31.08.2017 0:00,55575048-54534949515576,98109_bm24@gmail.com,Константин,IDL00028471149,0,NaN,179
627123,31.08.2017 23:42,07.09.2017 0:00,5413024_TR,Доставлен,1 194,1 194,Магазины,Безналичная,Ярославль,NaN,...,1,1,31.08.2017 0:00,55575048-54534949515576,98109_bm24@gmail.com,Константин,ID10022107250,0,NaN,149

In [93]:
df.loc[df['ГородМагазина'] == '0', 'ГородМагазина'] = 'ИнтернетДоставка'

In [94]:
df

,Дата,ДатаДоставки,НомерЗаказаНаСайте,НовыйСтатус,СуммаЗаказаНаСайте,СуммаДокумента,МетодДоставки,ФормаОплаты,Регион,Группа2,...,НомерСтроки,КоличествоПроданоКлиенту,ДатаЗаказаНаСайте,Телефон_new,ЭлектроннаяПочта_new,Клиент,ID_SKU,ГородМагазина,МагазинЗаказа,НоваяМаржа
0,01.07.2017 0:00,06.07.2017 0:00,5031788_TR,Доставлен,1 634,1 634,Магазины,Безналичная,Москва,"ТЕКСТИЛЬ, ТРИКОТАЖ",...,3,1,30.06.2017 0:00,55574948-52495050484877,116117_tu17@mail.ru,Татьяна,IDL00051334048,ИнтернетДоставка,NaN,"26,9"
1,01.07.2017 0:00,06.07.2017 0:00,5031788_TR,Доставлен,1 634,1 634,Магазины,Безналичная,Москва,"ТЕКСТИЛЬ, ТРИКОТАЖ",...,4,1,30.06.2017 0:00,55574948-52495050484877,116117_tu17@mail.ru,Татьяна,IDL00051367351,ИнтернетДоставка,NaN,"26,9"
2,01.07.2017 0:00,06.07.2017 0:00,5031788_TR,Доставлен,1 634,1 634,Магазины,Безналичная,Москва,"ТЕКСТИЛЬ, ТРИКОТАЖ",...,7,1,30.06.2017 0:00,55574948-52495050484877,116117_tu17@mail.ru,Татьяна,IDL00007611755,ИнтернетДоставка,NaN,"8,04"
3,01.07.2017 0:00,06.07.2017 0:00,5031788_TR,Доставлен,1 634,1 634,Магазины,Безналичная,Москва,"ТЕКСТИЛЬ, ТРИКОТАЖ",...,1,1,30.06.2017 0:00,55574948-52495050484877,116117_tu17@mail.ru,Татьяна,IDL00014478250,ИнтернетДоставка,NaN,"5,79"
4,01.07.2017 0:00,06.07.2017 0:00,5031788_TR,Доставлен,1 634,1 634,Магазины,Безналичная,Москва,"ТЕКСТИЛЬ, ТРИКОТАЖ",...,9,1,30.06.2017 0:00,55574948-52495050484877,116117_tu17@mail.ru,Татьяна,IDL00001209351,ИнтернетДоставка,NaN,"63,79"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
627119,31.08.2017 23:42,04.09.2017 0:00,5412856_TR,Доставлен,3 189,3 189,Магазины,Безналичная,Химки (Московская область район),"ТЕКСТИЛЬ, ТРИКОТАЖ",...,3,1,31.08.2017 0:00,55575653-55545554554979,118117_vu22@kamelia-dress.ru,Александр,IDL00033741553,ИнтернетДоставка,NaN,"202,73"
627120,31.08.2017 23:42,04.09.2017 0:00,5412856_TR,Доставлен,3 189,3 189,Магазины,Безналичная,Химки (Московская область район),ПОДГУЗНИКИ,...,8,1,31.08.2017 0:00,55575653-55545554554979,118117_vu22@kamelia-dress.ru,Александр,ID10005324250,ИнтернетДоставка,NaN,"-18,25"
627121,31.08.2017 23:42,09.09.2017 0:00,5412886_TR,Возврат из ПВЗ,1 405,1 405,Магазины,Безналичная,Черноголовка (Ногинский район),NaN,...,1,1,31.08.2017 0:00,55575054-52555750505673,97117_au28@yandex.ru,Александра,ID10022107250,ИнтернетДоставка,NaN,99
627122,31.08.2017 23:42,07.09.2017 0:00,5413024_TR,Доставлен,1 194,1 194,Магазины,Безналичная,Ярославль,ПОДГУЗНИКИ,...,1,1,31.08.2017 0:00,55575048-54534949515576,98109_bm24@gmail.com,Константин,IDL00028471149,ИнтернетДоставка,NaN,179
627123,31.08.2017 23:42,07.09.2017 0:00,5413024_TR,Доставлен,1 194,1 194,Магазины,Безналичная,Ярославль,NaN,...,1,1,31.08.2017 0:00,55575048-54534949515576,98109_bm24@gmail.com,Константин,ID10022107250,ИнтернетДоставка,NaN,149

### Мы решили удалить все строки, где написано "Доставка" в столбце "Номенклатура" и соответственно в столбцах "Группа2", потому что доставка не может являться полноценным заказом.

In [95]:
df = df[df['Номенклатура'] != 'Доставка']

In [96]:
df

,Дата,ДатаДоставки,НомерЗаказаНаСайте,НовыйСтатус,СуммаЗаказаНаСайте,СуммаДокумента,МетодДоставки,ФормаОплаты,Регион,Группа2,...,НомерСтроки,КоличествоПроданоКлиенту,ДатаЗаказаНаСайте,Телефон_new,ЭлектроннаяПочта_new,Клиент,ID_SKU,ГородМагазина,МагазинЗаказа,НоваяМаржа
0,01.07.2017 0:00,06.07.2017 0:00,5031788_TR,Доставлен,1 634,1 634,Магазины,Безналичная,Москва,"ТЕКСТИЛЬ, ТРИКОТАЖ",...,3,1,30.06.2017 0:00,55574948-52495050484877,116117_tu17@mail.ru,Татьяна,IDL00051334048,ИнтернетДоставка,NaN,"26,9"
1,01.07.2017 0:00,06.07.2017 0:00,5031788_TR,Доставлен,1 634,1 634,Магазины,Безналичная,Москва,"ТЕКСТИЛЬ, ТРИКОТАЖ",...,4,1,30.06.2017 0:00,55574948-52495050484877,116117_tu17@mail.ru,Татьяна,IDL00051367351,ИнтернетДоставка,NaN,"26,9"
2,01.07.2017 0:00,06.07.2017 0:00,5031788_TR,Доставлен,1 634,1 634,Магазины,Безналичная,Москва,"ТЕКСТИЛЬ, ТРИКОТАЖ",...,7,1,30.06.2017 0:00,55574948-52495050484877,116117_tu17@mail.ru,Татьяна,IDL00007611755,ИнтернетДоставка,NaN,"8,04"
3,01.07.2017 0:00,06.07.2017 0:00,5031788_TR,Доставлен,1 634,1 634,Магазины,Безналичная,Москва,"ТЕКСТИЛЬ, ТРИКОТАЖ",...,1,1,30.06.2017 0:00,55574948-52495050484877,116117_tu17@mail.ru,Татьяна,IDL00014478250,ИнтернетДоставка,NaN,"5,79"
4,01.07.2017 0:00,06.07.2017 0:00,5031788_TR,Доставлен,1 634,1 634,Магазины,Безналичная,Москва,"ТЕКСТИЛЬ, ТРИКОТАЖ",...,9,1,30.06.2017 0:00,55574948-52495050484877,116117_tu17@mail.ru,Татьяна,IDL00001209351,ИнтернетДоставка,NaN,"63,79"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
627117,31.08.2017 23:42,04.09.2017 0:00,5412856_TR,Доставлен,3 189,3 189,Магазины,Безналичная,Химки (Московская область район),"ТЕКСТИЛЬ, ТРИКОТАЖ",...,9,1,31.08.2017 0:00,55575653-55545554554979,118117_vu22@kamelia-dress.ru,Александр,IDL00031153351,ИнтернетДоставка,NaN,39
627118,31.08.2017 23:42,04.09.2017 0:00,5412856_TR,Доставлен,3 189,3 189,Магазины,Безналичная,Химки (Московская область район),"ТЕКСТИЛЬ, ТРИКОТАЖ",...,7,1,31.08.2017 0:00,55575653-55545554554979,118117_vu22@kamelia-dress.ru,Александр,IDL00031222856,ИнтернетДоставка,NaN,39
627119,31.08.2017 23:42,04.09.2017 0:00,5412856_TR,Доставлен,3 189,3 189,Магазины,Безналичная,Химки (Московская область район),"ТЕКСТИЛЬ, ТРИКОТАЖ",...,3,1,31.08.2017 0:00,55575653-55545554554979,118117_vu22@kamelia-dress.ru,Александр,IDL00033741553,ИнтернетДоставка,NaN,"202,73"
627120,31.08.2017 23:42,04.09.2017 0:00,5412856_TR,Доставлен,3 189,3 189,Магазины,Безналичная,Химки (Московская область район),ПОДГУЗНИКИ,...,8,1,31.08.2017 0:00,55575653-55545554554979,118117_vu22@kamelia-dress.ru,Александр,ID10005324250,ИнтернетДоставка,NaN,"-18,25"
627122,31.08.2017 23:42,07.09.2017 0:00,5413024_TR,Доставлен,1 194,1 194,Магазины,Безналичная,Ярославль,ПОДГУЗНИКИ,...,1,1,31.08.2017 0:00,55575048-54534949515576,98109_bm24@gmail.com,Константин,IDL00028471149,ИнтернетДоставка,NaN,179

In [97]:
df.to_csv('filtered_dataРазмешенные.csv', index=False, sep=';', encoding='utf-8-sig')

### Создание сводных таблиц

In [2]:
df = pd.read_csv('filtered_dataРазмешенные.csv', sep=';', encoding='utf-8-sig')

In [3]:
df_2 = df['НомерЗаказаНаСайте'].unique() #проверяем длины по уникальным заказам
len(df_2)

127108

In [4]:
new_df = pd.DataFrame(columns=['Месяц', 'Выручка', 'Абсолютная маржа', 'Маржа', 'Кол-во чеков', 'Кол-во товаров', 'Кол-во уникальных клиентов', 'Средний чек', 'Среднее кол-во товаров в чеке', 'Ценность клиента', 'Доля выкупаемости товаров'])
new_df

Empty DataFrame
Columns: [Месяц, Выручка, Абсолютная маржа, Маржа, Кол-во чеков, Кол-во товаров, Кол-во уникальных клиентов, Средний чек, Среднее кол-во товаров в чеке, Ценность клиента, Доля выкупаемости товаров]
Index: []

### Мы создаем прототип функции для создания соводной таблицы, для того, чтобы потом менять параметры и получать данные. В функции прописываем методы для поиска того или иного праметра. В даннном нам Dataset числа представлены через разделитель ",", что мешало работать функйии. Для этого мы в таблице использовали функцию в экселе "=ПРЕДСТАВИТЬ(T2;",";".")".

In [5]:
def generate_table(df, column_name="МесяцДатыЗаказа"): 
    columns_list = [column_name, 'Выручка', 'Абсолютная маржа', 'Маржа', 'Кол-во чеков', 'Кол-во товаров', 'Кол-во уникальных клиентов', 'Средний чек', 'Среднее кол-во товаров в  чеке', 'Ценность клиента'] 
    unique_values = df[column_name].unique()
    total = pd.DataFrame(columns=columns_list)
    for val in unique_values: 
        list_of_values = [val] 
        filtered_df = df[df[column_name] == val] 
        # Подсчет значений
        profit = int(round(filtered_df['НоваяСуммаСтроки'].sum()))               #выручка 
        list_of_values.append(profit) 
        
        absmargin = int(round(filtered_df['ИспМаржа'].sum()))                    #абсолютная маржа 
        list_of_values.append(absmargin) 
        
        margin = absmargin/profit                                                #маржа
        list_of_values.append(margin) 
        
        df_numb_check = filtered_df['НомерЗаказаНаСайте'].unique()               #кол-во чеков 
        numb_check = df_numb_check.size
        list_of_values.append(numb_check) 
        
        numb_good = filtered_df['МесяцДатыЗаказа'].size                          #кол-во товаров 
        list_of_values.append(numb_good) 
        
        num_of_customers = filtered_df['Телефон_new'].unique().size              #кол-во уникальных клиентов
        list_of_values.append(num_of_customers)

        avarage_bill = int(round(filtered_df.groupby(['НомерЗаказаНаСайте']).mean()['НовСуммаЗаказаНаСайте'].mean())) #средний чек 
        list_of_values.append(avarage_bill) 
        
        avarage_numb_good = int(round(filtered_df.groupby(['НомерЗаказаНаСайте']).count()['НовСуммаЗаказаНаСайте'].mean())) #среднее кол-во товаров в  чеке
        list_of_values.append(avarage_numb_good) 

        value_of_customer = int(round(absmargin /num_of_customers))              #ценность клиента
        list_of_values.append(value_of_customer) 
        
        tmp_df = pd.DataFrame([list_of_values], columns=columns_list) 
        total = total.append(tmp_df, ignore_index=True)
    return total

In [6]:
pivot_table = generate_table(df, column_name="МесяцДатыЗаказа")

In [7]:
pivot_table

,МесяцДатыЗаказа,Выручка,Абсолютная маржа,Маржа,Кол-во чеков,Кол-во товаров,Кол-во уникальных клиентов,Средний чек,Среднее кол-во товаров в чеке,Ценность клиента
0,7,198382004,37950260,0.191299,61351,225908,50366,3638,4,753
1,8,207539837,36506233,0.175900,65757,247591,54777,3599,4,666

In [ ]:
pivot_table.to_csv('pivot_tableМесяцРазмещенные.csv', index=False, sep=';', encoding='utf-8-sig')

In [ ]:
pivot_table = generate_table(df, column_name="Группа2")

In [ ]:
pivot_table

In [ ]:
pivot_table.to_csv('pivot_tableГруппа2Размещенные.csv', index=False, sep=';', encoding='utf-8-sig')

In [ ]:
pivot_table = generate_table(df, column_name="Группа3") 
pivot_table

In [ ]:
pivot_table.to_csv('pivot_tableГруппа3Размещенные.csv', index=False, sep=';', encoding='utf-8-sig')

In [ ]:
pivot_table = generate_table(df, column_name="Регион") 
pivot_table

In [ ]:
pivot_table.to_csv('pivot_tableРегионРазмещенные.csv', index=False, sep=';', encoding='utf-8-sig')

In [25]:
pivot_table = generate_table(df, column_name="ДеньНедели") 
pivot_table

,ДеньНедели,Выручка,Абсолютная маржа,Маржа,Кол-во чеков,Кол-во товаров,Кол-во уникальных клиентов,Средний чек,Среднее кол-во товаров в чеке,Ценность клиента
0,6,43753325,8750505,0.199996,12805,46391,11985,3876,4,730
1,7,49482065,9716781,0.196370,14142,49239,13223,3879,3,735
2,1,61738464,10694365,0.173220,19439,71126,18006,3539,4,594
3,2,73522102,12588586,0.171222,24473,93495,22242,3426,4,566
4,3,68966717,12413970,0.179999,21991,86370,20230,3594,4,614
5,4,61144767,11247938,0.183956,19402,72088,17921,3580,4,628
6,5,47314402,9044350,0.191154,14856,54790,13869,3647,4,652

In [26]:
pivot_table.to_csv('pivot_tableДеньНеделиРазмещенные.csv', index=False, sep=';', encoding='utf-8-sig')

In [31]:
pivot_table = generate_table(df, column_name="ВремяОкругл") 
pivot_table

,ВремяОкругл,Выручка,Абсолютная маржа,Маржа,Кол-во чеков,Кол-во товаров,Кол-во уникальных клиентов,Средний чек,Среднее кол-во товаров в чеке,Ценность клиента
0,00:00:00,15945585,2645217,0.165890,5536,21787,5290,3254,4,500
1,01:00:00,553380,96947,0.175191,195,746,190,3340,4,510
2,02:00:00,14354863,2405407,0.167567,5459,21202,5056,3070,4,476
3,03:00:00,3650448,625736,0.171413,1427,5995,1357,3026,4,461
4,04:00:00,1551079,272733,0.175834,569,2573,542,3321,5,503
5,05:00:00,877985,159720,0.181917,292,1218,284,3389,4,562
6,06:00:00,1432339,273594,0.191012,489,1591,463,3243,3,591
7,07:00:00,3248126,531202,0.163541,1141,3466,1102,3298,3,482
8,08:00:00,4176982,748607,0.179222,1555,4544,1496,3037,3,500
9,09:00:00,7016373,1231099,0.175461,2525,7534,2446,3148,3,503
10,10:00:00,14308216,2698035,0.188565,4462,15800,4313,3581,4,626
11,11:00:00,20287606,3795882,0.187103,6211,23973,5960,3659,4,637
12,12:00:00,27203517,4977193,0.182961,8477,31091,8101,3591,4,614
13,14:00:00,30784180,5768650,0.187390,9245,34169,8784,3762,4,657
14,15:00:00,30519362,5715571,0.187277,8884,32810,8512,3890,4,671
15,16:00:00,26855933,5070317,0.188797,8176,29973,7816,3708,4,649
16,17:00:00,30359634,5436038,0.179055,9309,34619,8886,3715,4,612
17,18:00:00,27117355,5112462,0.188531,8142,31557,7790,3788,4,656
18,19:00:00,29759987,5802897,0.194990,8881,33410,8491,3785,4,683
19,20:00:00,26016259,5069311,0.194852,7624,28560,7285,3860,4,696
20,21:00:00,16105425,2971186,0.184484,5099,18348,4935,3593,4,602
21,22:00:00,23758207,4080944,0.171770,7839,29277,7510,3423,4,543
22,23:00:00,22758197,3896226,0.171201,7577,29337,7214,3438,4,540
23,13:00:00,27280803,5071522,0.185901,7994,29919,7683,3842,4,660

In [32]:
pivot_table.to_csv('pivot_tableВремяРазмещенные.csv', index=False, sep=';', encoding='utf-8-sig')

In [10]:
def generate_table(df, column_name="МесяцДатыЗаказа"): 
    columns_list = [column_name, 'Группа2', 'Выручка', 'Абсолютная маржа', 'Маржа', 'Кол-во чеков', 'Кол-во товаров', 'Кол-во уникальных клиентов', 'Средний чек', 'Среднее кол-во товаров в  чеке', 'Ценность клиента'] 
    unique_values = df[column_name].unique()
    total = pd.DataFrame(columns=columns_list)
    for val in unique_values: 
        list_of_values = [val] 
        filtered_df = df[df[column_name] == val] 
        # Подсчет значений 
        group2 = filtered_df['Группа2']                                          #Группа2 
        list_of_values.append(group2) 
        
        profit = int(round(filtered_df['НоваяСуммаСтроки'].sum()))               #выручка 
        
        absmargin = int(round(filtered_df['ИспМаржа'].sum()))                    #абсолютная маржа 
        list_of_values.append(absmargin) 
        
        margin = absmargin/profit                                                #маржа
        list_of_values.append(margin) 
        
        df_numb_check = filtered_df['НомерЗаказаНаСайте'].unique()               #кол-во чеков 
        numb_check = df_numb_check.size
        list_of_values.append(numb_check) 
        
        numb_good = filtered_df['МесяцДатыЗаказа'].size                          #кол-во товаров 
        list_of_values.append(numb_good) 
        
        num_of_customers = filtered_df['Телефон_new'].unique().size              #кол-во уникальных клиентов
        list_of_values.append(num_of_customers)

        avarage_bill = int(round(filtered_df.groupby(['НомерЗаказаНаСайте']).mean()['НовСуммаЗаказаНаСайте'].mean())) #средний чек 
        list_of_values.append(avarage_bill) 
        
        avarage_numb_good = int(round(filtered_df.groupby(['НомерЗаказаНаСайте']).count()['НовСуммаЗаказаНаСайте'].mean())) #среднее кол-во товаров в  чеке
        list_of_values.append(avarage_numb_good) 

        value_of_customer = int(round(absmargin /num_of_customers))              #ценность клиента
        list_of_values.append(value_of_customer) 
        
        tmp_df = pd.DataFrame([list_of_values], columns=columns_list) 
        total = total.append(tmp_df, ignore_index=True)
    return total

In [11]:
pivot_table = generate_table(df, column_name="Группа2") 
pivot_table

ValueError: 11 columns passed, passed data had 10 columns