In [1]:
import numpy as np 
import pandas as pd

In [49]:
def generate_table(df, column_name="МесяцДатыЗаказа"): 
    columns_list = [column_name, 'КоличествоЧеков', 'Средний чек', 'СреднееЧислоТоваровЧека', 'Выручка', 'КоличествоТоваров', 'СредняяМаржа'] 
    unique_values = df[column_name].unique()
    total = pd.DataFrame(columns=columns_list)
    for val in unique_values: 
        list_of_values = [val] 
        filtered_df = df[df[column_name] == val] 
        # Подсчет значений
        
        df_numb_check = filtered_df['НомерЗаказаНаСайте'].unique()               #кол-во чеков 
        numb_check = df_numb_check.size
        list_of_values.append(numb_check)  
        
        avarage_bill = int(round(filtered_df.groupby(['НомерЗаказаНаСайте']).mean()['НовСуммаЗаказаНаСайте'].mean())) #средний чек 
        list_of_values.append(avarage_bill) 
        
        avarage_numb_good = int(round(filtered_df.groupby(['НомерЗаказаНаСайте']).count()['НовСуммаЗаказаНаСайте'].mean())) #среднее кол-во товаров в  чеке
        list_of_values.append(avarage_numb_good) 
        
        profit = int(round(filtered_df['НоваяСуммаСтроки'].sum()))               #выручка 
        list_of_values.append(profit) 
        
        numb_good = filtered_df['МесяцДатыЗаказа'].size                          #кол-во товаров 
        list_of_values.append(numb_good) 
        
        absmargin = int(round(filtered_df['ИспМаржа'].sum()))                    #средняя маржа 
        list_of_values.append(absmargin/numb_check) 
        
        tmp_df = pd.DataFrame([list_of_values], columns=columns_list) 
        total = total.append(tmp_df, ignore_index=True)
    return total

In [51]:
df = pd.read_csv('filtered_dataВыкупленные.csv', sep=';', encoding='utf-8-sig') 
df

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3050: DtypeWarning: Columns (39) have mixed types. Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Дата,ДатаДоставки,НомерЗаказаНаСайте,НовыйСтатус,СуммаЗаказаНаСайте,СуммаДокумента,МетодДоставки,ФормаОплаты,Регион,Группа2,...,ГородМагазина,МагазинЗаказа,НоваяМаржа,НоваяСуммаСтроки,ИспМаржа,НовСуммаЗаказаНаСайте,ДеньНедели,Время,ВремяОкругл,МаржаДляГрупп
0,"суббота, 1 июля 2017 г.",06.07.2017 00:00,5031788_TR,Доставлен,1634,1 634,Магазины,Безналичная,Москва,"ТЕКСТИЛЬ, ТРИКОТАЖ",...,ИнтернетДоставка,NaN,"26,9",50,26.сент,1634,6,00:00:00,00:00:00,54%
1,"суббота, 1 июля 2017 г.",06.07.2017 00:00,5031788_TR,Доставлен,1634,1 634,Магазины,Безналичная,Москва,"ТЕКСТИЛЬ, ТРИКОТАЖ",...,ИнтернетДоставка,NaN,"26,9",50,26.сент,1634,6,00:00:00,00:00:00,54%
2,"суббота, 1 июля 2017 г.",06.07.2017 00:00,5031788_TR,Доставлен,1634,1 634,Магазины,Безналичная,Москва,"ТЕКСТИЛЬ, ТРИКОТАЖ",...,ИнтернетДоставка,NaN,"8,04",49,08.апр,1634,6,00:00:00,00:00:00,16%
3,"суббота, 1 июля 2017 г.",06.07.2017 00:00,5031788_TR,Доставлен,1634,1 634,Магазины,Безналичная,Москва,"ТЕКСТИЛЬ, ТРИКОТАЖ",...,ИнтернетДоставка,NaN,"5,79",40,май.79,1634,6,00:00:00,00:00:00,14%
4,"суббота, 1 июля 2017 г.",06.07.2017 00:00,5031788_TR,Доставлен,1634,1 634,Магазины,Безналичная,Москва,"ТЕКСТИЛЬ, ТРИКОТАЖ",...,ИнтернетДоставка,NaN,"63,79",169,63.79,1634,6,00:00:00,00:00:00,38%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
267686,"четверг, 31 августа 2017 г.",04.09.2017 00:00,5412856_TR,Доставлен,3189,3 189,Магазины,Безналичная,Химки (Московская область район),"ТЕКСТИЛЬ, ТРИКОТАЖ",...,ИнтернетДоставка,NaN,39,239,39,3189,4,23:42:00,00:00:00,16%
267687,"четверг, 31 августа 2017 г.",04.09.2017 00:00,5412856_TR,Доставлен,3189,3 189,Магазины,Безналичная,Химки (Московская область район),"ТЕКСТИЛЬ, ТРИКОТАЖ",...,ИнтернетДоставка,NaN,39,259,39,3189,4,23:42:00,00:00:00,15%
267688,"четверг, 31 августа 2017 г.",04.09.2017 00:00,5412856_TR,Доставлен,3189,3 189,Магазины,Безналичная,Химки (Московская область район),"ТЕКСТИЛЬ, ТРИКОТАЖ",...,ИнтернетДоставка,NaN,"202,73",670,202.73,3189,4,23:42:00,00:00:00,30%
267689,"четверг, 31 августа 2017 г.",04.09.2017 00:00,5412856_TR,Доставлен,3189,3 189,Магазины,Безналичная,Химки (Московская область район),ПОДГУЗНИКИ,...,ИнтернетДоставка,NaN,"-18,25",755,-18.25,3189,4,23:42:00,00:00:00,-2%
267690,"четверг, 31 августа 2017 г.",07.09.2017 00:00,5413024_TR,Доставлен,1194,1 194,Магазины,Безналичная,Ярославль,ПОДГУЗНИКИ,...,ИнтернетДоставка,NaN,179,1045,179,1194,4,23:42:00,00:00:00,17%

In [52]:
# vitrinaBuyed = generate_table(df, column_name="Телефон_new") 
vitrinaBuyed = pd.read_csv('vitrinaВыкупленные.csv', sep=';', encoding='utf-8-sig') 
vitrinaBuyed

,Телефон_new,КоличествоЧеков,Средний чек,СреднееЧислоТоваровЧека,Выручка,КоличествоТоваров,СредняяМаржа
0,55574948-52495050484877,1,1634,13,1585,13,497.0
1,55575155-54535648525672,1,1218,1,1119,1,-31.0
2,55575656-49565651494970,1,1915,11,1816,11,-10.0
3,55574954-50555651515572,2,1284,3,2469,6,127.5
4,55575348-57505757565774,5,2465,8,11828,38,489.0
...,...,...,...,...,...,...,...
65924,55575049-51525454525576,1,401,1,302,1,-302.0
65925,55574949-50525350495673,1,2189,2,2090,2,358.0
65926,55575649-55555555515377,1,2600,5,2600,5,1277.0
65927,55575655-51565156554978,1,1998,1,1899,1,267.0
65928,55575449-49534848495470,1,1540,6,1140,6,166.0

In [54]:
df1 = pd.read_csv('filtered_dataРазмещенные.csv', sep=';', encoding='utf-8-sig') 
df1

,Дата,ДатаДоставки,НомерЗаказаНаСайте,НовыйСтатус,СуммаЗаказаНаСайте,СуммаДокумента,МетодДоставки,ФормаОплаты,Регион,Группа2,...,Телефон_new,ЭлектроннаяПочта_new,Клиент,ID_SKU,ГородМагазина,МагазинЗаказа,НоваяМаржа,НоваяСуммаСтроки,ИспМаржа,НовСуммаЗаказаНаСайте
0,01.07.2017 00:00,06.07.2017 00:00,5031788_TR,Доставлен,1 634,1 634,Магазины,Безналичная,Москва,"ТЕКСТИЛЬ, ТРИКОТАЖ",...,55574948-52495050484877,116117_tu17@mail.ru,Татьяна,IDL00051334048,ИнтернетДоставка,NaN,"26,9",50,26.сент,1634
1,01.07.2017 00:00,06.07.2017 00:00,5031788_TR,Доставлен,1 634,1 634,Магазины,Безналичная,Москва,"ТЕКСТИЛЬ, ТРИКОТАЖ",...,55574948-52495050484877,116117_tu17@mail.ru,Татьяна,IDL00051367351,ИнтернетДоставка,NaN,"26,9",50,26.сент,1634
2,01.07.2017 00:00,06.07.2017 00:00,5031788_TR,Доставлен,1 634,1 634,Магазины,Безналичная,Москва,"ТЕКСТИЛЬ, ТРИКОТАЖ",...,55574948-52495050484877,116117_tu17@mail.ru,Татьяна,IDL00007611755,ИнтернетДоставка,NaN,"8,04",49,08.апр,1634
3,01.07.2017 00:00,06.07.2017 00:00,5031788_TR,Доставлен,1 634,1 634,Магазины,Безналичная,Москва,"ТЕКСТИЛЬ, ТРИКОТАЖ",...,55574948-52495050484877,116117_tu17@mail.ru,Татьяна,IDL00014478250,ИнтернетДоставка,NaN,"5,79",40,май.79,1634
4,01.07.2017 00:00,06.07.2017 00:00,5031788_TR,Доставлен,1 634,1 634,Магазины,Безналичная,Москва,"ТЕКСТИЛЬ, ТРИКОТАЖ",...,55574948-52495050484877,116117_tu17@mail.ru,Татьяна,IDL00001209351,ИнтернетДоставка,NaN,"63,79",169,63.79,1634
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
473499,31.08.2017 23:42,04.09.2017 00:00,5412856_TR,Доставлен,3 189,3 189,Магазины,Безналичная,Химки (Московская область район),"ТЕКСТИЛЬ, ТРИКОТАЖ",...,55575653-55545554554979,118117_vu22@kamelia-dress.ru,Александр,IDL00031153351,ИнтернетДоставка,NaN,39,239,39,3189
473500,31.08.2017 23:42,04.09.2017 00:00,5412856_TR,Доставлен,3 189,3 189,Магазины,Безналичная,Химки (Московская область район),"ТЕКСТИЛЬ, ТРИКОТАЖ",...,55575653-55545554554979,118117_vu22@kamelia-dress.ru,Александр,IDL00031222856,ИнтернетДоставка,NaN,39,259,39,3189
473501,31.08.2017 23:42,04.09.2017 00:00,5412856_TR,Доставлен,3 189,3 189,Магазины,Безналичная,Химки (Московская область район),"ТЕКСТИЛЬ, ТРИКОТАЖ",...,55575653-55545554554979,118117_vu22@kamelia-dress.ru,Александр,IDL00033741553,ИнтернетДоставка,NaN,"202,73",670,202.73,3189
473502,31.08.2017 23:42,04.09.2017 00:00,5412856_TR,Доставлен,3 189,3 189,Магазины,Безналичная,Химки (Московская область район),ПОДГУЗНИКИ,...,55575653-55545554554979,118117_vu22@kamelia-dress.ru,Александр,ID10005324250,ИнтернетДоставка,NaN,"-18,25",755,-18.25,3189
473503,31.08.2017 23:42,07.09.2017 00:00,5413024_TR,Доставлен,1 194,1 194,Магазины,Безналичная,Ярославль,ПОДГУЗНИКИ,...,55575048-54534949515576,98109_bm24@gmail.com,Константин,IDL00028471149,ИнтернетДоставка,NaN,179,1045,179,1194

In [57]:
# vitrinaAll = generate_table(df1, column_name="Телефон_new") 
vitrinaAll = pd.read_csv('vitrinaРазмещенные.csv', sep=';', encoding='utf-8-sig') 
vitrinaAll

,Телефон_new,КоличествоЧеков,Средний чек,СреднееЧислоТоваровЧека,Выручка,КоличествоТоваров,СредняяМаржа,ПроцентОтмен(в процентах)
0,55574948-52495050484877,1,1634,13,1585,13,497.0,1
1,55575155-54535648525672,2,26169,2,26118,3,3497.5,2
2,55575656-49565651494970,1,1915,11,1816,11,-10.0,1
3,55574954-50555651515572,2,1284,3,2469,6,127.5,2
4,55575348-57505757565774,7,2612,6,14061,43,375.14285714285717,7
...,...,...,...,...,...,...,...,...
94533,55574949-50525350495673,1,2189,2,2090,2,358.0,1
94534,55575649-55555555515377,1,2600,5,2600,5,1277.0,1
94535,55575655-51565156554978,1,1998,1,1899,1,267.0,1
94536,55575449-49534848495470,1,1540,6,1140,6,166.0,1
94537,55574955-54485656535172,1,1199,1,1199,1,482.0,1

In [58]:
vitrina = (vitrinaBuyed.merge(vitrinaAll, on = ['Телефон_new'], how='inner')) 
vitrina

,Телефон_new,КоличествоЧеков_x,Средний чек_x,СреднееЧислоТоваровЧека_x,Выручка_x,КоличествоТоваров_x,СредняяМаржа_x,КоличествоЧеков_y,Средний чек_y,СреднееЧислоТоваровЧека_y,Выручка_y,КоличествоТоваров_y,СредняяМаржа_y,ПроцентОтмен(в процентах)
0,55574948-52495050484877,1,1634,13,1585,13,497.0,1,1634,13,1585,13,497.0,1
1,55575155-54535648525672,1,1218,1,1119,1,-31.0,2,26169,2,26118,3,3497.5,2
2,55575656-49565651494970,1,1915,11,1816,11,-10.0,1,1915,11,1816,11,-10.0,1
3,55574954-50555651515572,2,1284,3,2469,6,127.5,2,1284,3,2469,6,127.5,2
4,55575348-57505757565774,5,2465,8,11828,38,489.0,7,2612,6,14061,43,375.14285714285717,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65924,55575049-51525454525576,1,401,1,302,1,-302.0,1,401,1,302,1,-302.0,1
65925,55574949-50525350495673,1,2189,2,2090,2,358.0,1,2189,2,2090,2,358.0,1
65926,55575649-55555555515377,1,2600,5,2600,5,1277.0,1,2600,5,2600,5,1277.0,1
65927,55575655-51565156554978,1,1998,1,1899,1,267.0,1,1998,1,1899,1,267.0,1
65928,55575449-49534848495470,1,1540,6,1140,6,166.0,1,1540,6,1140,6,166.0,1

In [62]:
vitrina.to_csv('VitrinaBoth.csv', index=False, sep=';', encoding='utf-8-sig')

In [59]:
FF = vitrina[(vitrina['Выручка_x'] != vitrina['Выручка_y'])] 
FF

,Телефон_new,КоличествоЧеков_x,Средний чек_x,СреднееЧислоТоваровЧека_x,Выручка_x,КоличествоТоваров_x,СредняяМаржа_x,КоличествоЧеков_y,Средний чек_y,СреднееЧислоТоваровЧека_y,Выручка_y,КоличествоТоваров_y,СредняяМаржа_y,ПроцентОтмен(в процентах)
1,55575155-54535648525672,1,1218,1,1119,1,-31.0,2,26169,2,26118,3,3497.5,2
4,55575348-57505757565774,5,2465,8,11828,38,489.0,7,2612,6,14061,43,375.14285714285717,7
10,55575048-50535252545171,4,811,4,2449,16,-5.0,7,749,3,4445,20,15.714285714285714,7
25,55575451-51505549535277,2,10452,4,20707,8,1742.0,3,10270,5,30243,14,1160.0,3
28,55574957-49515256555273,7,3017,5,20427,37,632.7142857142857,9,3692,5,28401,47,618.5555555555555,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65852,55574954-56535252575271,1,667,1,618,1,156.0,3,2559,1,2334,3,166.33333333333334,3
65879,55575050-52485753555577,1,3301,4,3202,4,143.0,2,4258,4,8149,7,123.5,2
65898,55575451-54494851495476,1,2497,1,2448,1,-52.0,2,2794,2,5127,3,36.5,2
65899,55574954-50514949485470,1,904,1,855,1,406.0,2,1592,8,2986,17,341.0,2
65908,55575449-48535554555175,1,1779,1,1680,1,-1679.0,2,2390,4,4582,9,-663.0,2

In [16]:
vit = pd.read_csv('VitrinaAll.csv', sep=';', encoding='utf-8-sig') 
vit

,ID,КоличествоЧеков,Среднийчек,СреднееЧислоТоваровЧека,Выручка,КоличествоТоваров,СредняяМаржа,КоличествоЧековВсе,СреднийчекВсе,СреднееЧислоТоваровЧекаВсе,...,ЧАСЫ/ОЧКИ,"ШАПКИ, ШАРФЫ",ЭЛЕКТРОМОБИЛИ/МАШИНЫ ПЕДАЛЬНЫЕ,ЭЛЕКТРОПРИБОРЫ,ЭЛЕМЕНТЫ ПИТАНИЯ,ИГРУШКИ,ИНОЕ,КГТ,ОДЕЖДА,ППКП
0,49574954-56524849545119,1,5215,1,5166,1,-705.0,1,5215,1,...,0,0,0,0,0,"0,003875969",0,0,0,0
1,51534957-48525550515032,1,1096,2,997,2,262.0,1,1096,2,...,0,0,0,0,0,0,0,0,"0,011627907",0
2,55515349-57484951525673,1,1345,1,1345,1,-186.0,1,1345,1,...,0,0,0,0,0,"0,003875969",0,0,0,0
3,55525757-49565652494875,1,362,1,313,1,21.0,1,362,1,...,0,0,0,0,0,0,0,0,0,"0,003875969"
4,55545455-55555653564971,1,17149,1,17000,1,4446.0,1,17149,1,...,0,0,0,0,0,0,0,"0,003875969",0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65923,57505454-53495350565496,1,2094,4,1995,4,370.0,1,2094,4,...,0,0,0,0,0,0,0,0,0,"0,019379845"
65924,57535051-57555156485395,1,498,1,399,1,63.0,1,498,1,...,0,0,0,0,0,"0,003875969",0,0,0,0
65925,57545253-57515750515193,1,6319,1,6270,1,570.0,1,6319,1,...,0,0,0,0,0,0,0,0,0,"0,003875969"
65926,57545349-48565651515597,1,11088,1,10989,1,2539.0,1,11088,1,...,0,0,0,0,0,0,0,"0,003875969",0,0
65927,57555555-55564848524890,1,748,1,649,1,154.0,1,748,1,...,0,0,0,0,0,"0,003875969",0,0,0,0

In [17]:
vit1 = pd.read_csv('VitrinaDostavka.csv', sep=';', encoding='utf-8-sig') 
vit1

,ID,Курьерская,Магазины,Самовывоз,Транспортная компания,DPD,Pick point,Не указан способ доставки,Безналичная,Наличная,Не указан способ оплаты,МО,Москва,Регионы
0,49574954-56524849545119,0,1,0,0,0,0,0,1,0,0,0,1,0
1,51534957-48525550515032,0,1,0,0,0,0,0,1,0,0,0,0,1
2,55515349-57484951525673,0,1,0,0,0,0,0,1,0,0,0,0,1
3,55515749-50495648505172,0,0,0,0,1,0,0,1,0,0,0,0,1
4,55525753-50505757515573,1,0,0,0,0,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94532,57545253-57515750515193,0,1,0,0,0,0,0,1,0,0,1,0,0
94533,57545349-48565651515597,0,1,0,0,0,0,0,1,0,0,1,0,0
94534,57545355-53485748575799,0,0,1,0,0,0,0,0,1,0,0,0,1
94535,57555555-55564848524890,0,1,0,0,0,0,0,1,0,0,1,0,0
94536,57575757-54565749495698,1,0,0,0,0,0,0,0,1,0,0,1,0

In [18]:
vitrinA = (vit.merge(vit1, on = ['ID'], how='inner')) 
vitrinA

,ID,КоличествоЧеков,Среднийчек,СреднееЧислоТоваровЧека,Выручка,КоличествоТоваров,СредняяМаржа,КоличествоЧековВсе,СреднийчекВсе,СреднееЧислоТоваровЧекаВсе,...,Транспортная компания,DPD,Pick point,Не указан способ доставки,Безналичная,Наличная,Не указан способ оплаты,МО,Москва,Регионы
0,49574954-56524849545119,1,5215,1,5166,1,-705.0,1,5215,1,...,0,0,0,0,1,0,0,0,1,0
1,51534957-48525550515032,1,1096,2,997,2,262.0,1,1096,2,...,0,0,0,0,1,0,0,0,0,1
2,55515349-57484951525673,1,1345,1,1345,1,-186.0,1,1345,1,...,0,0,0,0,1,0,0,0,0,1
3,55525757-49565652494875,1,362,1,313,1,21.0,1,362,1,...,0,0,0,0,1,0,0,0,1,0
4,55545455-55555653564971,1,17149,1,17000,1,4446.0,1,17149,1,...,0,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65923,57505454-53495350565496,1,2094,4,1995,4,370.0,1,2094,4,...,0,0,0,0,1,0,0,0,0,1
65924,57535051-57555156485395,1,498,1,399,1,63.0,1,498,1,...,0,0,0,0,1,0,0,0,0,1
65925,57545253-57515750515193,1,6319,1,6270,1,570.0,1,6319,1,...,0,0,0,0,1,0,0,1,0,0
65926,57545349-48565651515597,1,11088,1,10989,1,2539.0,1,11088,1,...,0,0,0,0,1,0,0,1,0,0
65927,57555555-55564848524890,1,748,1,649,1,154.0,1,748,1,...,0,0,0,0,1,0,0,1,0,0

In [19]:
RR = vitrinA [(vitrinA['Выручка'] != vitrinA['ВыручкаВсе'])] 
RR

,ID,КоличествоЧеков,Среднийчек,СреднееЧислоТоваровЧека,Выручка,КоличествоТоваров,СредняяМаржа,КоличествоЧековВсе,СреднийчекВсе,СреднееЧислоТоваровЧекаВсе,...,Транспортная компания,DPD,Pick point,Не указан способ доставки,Безналичная,Наличная,Не указан способ оплаты,МО,Москва,Регионы
17,55574848-48525553575576,2,1324,1,2350,2,106.5,3,1882,1,...,0,0,0,0,1,0,0,0,0,1
20,55574848-48535555545375,1,2496,3,2397,3,547.0,2,1598,2,...,0,0,0,0,"0,833333333","0,166666667",0,0,0,1
33,55574848-49505155564971,2,4490,11,8733,22,-590.0,3,5391,13,...,0,0,0,0,1,0,0,0,0,1
38,55574848-49515048535671,1,1364,3,1265,3,361.0,3,1794,4,...,0,0,0,0,1,0,0,0,0,1
55,55574848-50495452545272,1,1026,2,678,2,148.0,2,712,2,...,0,0,0,0,"0,666666667","0,333333333",0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65786,55575757-56485652565373,1,1148,1,1049,1,-2.0,2,2398,2,...,0,0,0,0,"0,25","0,75",0,0,1,0
65789,55575757-56495053535375,1,448,1,399,1,189.0,2,408,1,...,0,0,0,0,1,0,0,0,1,0
65799,55575757-56505054544973,2,2415,4,4732,7,259.5,8,4482,5,...,0,0,0,0,"0,545454545","0,454545455",0,0,1,0
65838,55575757-56564855564872,1,1437,3,1388,3,-242.0,2,902,2,...,0,0,0,0,1,0,0,1,0,0
65840,55575757-57485057564970,1,8181,2,8132,2,934.0,6,3620,5,...,0,0,0,0,"0,517241379","0,482758621",0,0,1,0

In [20]:
vitrinA.to_csv('VitrinaFinal.csv', index=False, sep=';', encoding='utf-8-sig')

In [21]:
GG = vit[(vit['Выручка'] != vit['ВыручкаВсе'])] 
GG

,ID,КоличествоЧеков,Среднийчек,СреднееЧислоТоваровЧека,Выручка,КоличествоТоваров,СредняяМаржа,КоличествоЧековВсе,СреднийчекВсе,СреднееЧислоТоваровЧекаВсе,...,ЧАСЫ/ОЧКИ,"ШАПКИ, ШАРФЫ",ЭЛЕКТРОМОБИЛИ/МАШИНЫ ПЕДАЛЬНЫЕ,ЭЛЕКТРОПРИБОРЫ,ЭЛЕМЕНТЫ ПИТАНИЯ,ИГРУШКИ,ИНОЕ,КГТ,ОДЕЖДА,ППКП
17,55574848-48525553575576,2,1324,1,2350,2,106.5,3,1882,1,...,0,0,0,0,0,"0,003875969","0,003875969",0,0,0
20,55574848-48535555545375,1,2496,3,2397,3,547.0,2,1598,2,...,0,0,0,0,0,0,0,"0,003875969","0,003875969","0,011627907"
33,55574848-49505155564971,2,4490,11,8733,22,-590.0,3,5391,13,...,0,0,0,0,0,0,0,0,"0,003875969","0,251937984"
38,55574848-49515048535671,1,1364,3,1265,3,361.0,3,1794,4,...,0,0,0,0,0,"0,011627907",0,0,0,0
55,55574848-50495452545272,1,1026,2,678,2,148.0,2,712,2,...,0,0,0,0,0,0,0,0,"0,007751938",0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65786,55575757-56485652565373,1,1148,1,1049,1,-2.0,2,2398,2,...,0,0,0,0,0,0,0,0,0,"0,003875969"
65789,55575757-56495053535375,1,448,1,399,1,189.0,2,408,1,...,0,0,0,0,0,0,0,0,"0,003875969",0
65799,55575757-56505054544973,2,2415,4,4732,7,259.5,8,4482,5,...,0,0,0,0,0,"0,003875969",0,0,"0,015503876","0,007751938"
65838,55575757-56564855564872,1,1437,3,1388,3,-242.0,2,902,2,...,0,0,0,0,0,0,0,0,"0,007751938","0,003875969"
65840,55575757-57485057564970,1,8181,2,8132,2,934.0,6,3620,5,...,0,0,0,0,0,0,0,"0,007751938",0,0

In [2]:
d = pd.read_csv('Vitrina_NEW_ITOG.csv', sep=';', encoding='utf-8-sig') 
d

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3050: DtypeWarning: Columns (38,45) have mixed types. Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,ID,КоличествоЧеков,Среднийчек,СреднееЧислоТоваровЧека,Выручка,КоличествоТоваров,СредняяМаржа,КоличествоЧековВсе,СреднийчекВсе,СреднееЧислоТоваровЧекаВсе,...,Транспортная компания,DPD,Pick point,Не указан способ доставки,Безналичная,Наличная,Не указан способ оплаты,МО,Москва,Регионы
0,49574954-56524849545119,1,5215,1,5166,1,-705.0,1,5215,1,...,0,0,0,0,1,0,0,0,1,0
1,51534957-48525550515032,1,1096,2,997,2,262.0,1,1096,2,...,0,0,0,0,1,0,0,0,0,1
2,55515349-57484951525673,1,1345,1,1345,1,-186.0,1,1345,1,...,0,0,0,0,1,0,0,0,0,1
3,55525757-49565652494875,1,362,1,313,1,21.0,1,362,1,...,0,0,0,0,1,0,0,0,1,0
4,55545455-55555653564971,1,17149,1,17000,1,4446.0,1,17149,1,...,0,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65923,57505454-53495350565496,1,2094,4,1995,4,370.0,1,2094,4,...,0,0,0,0,1,0,0,0,0,1
65924,57535051-57555156485395,1,498,1,399,1,63.0,1,498,1,...,0,0,0,0,1,0,0,0,0,1
65925,57545253-57515750515193,1,6319,1,6270,1,570.0,1,6319,1,...,0,0,0,0,1,0,0,1,0,0
65926,57545349-48565651515597,1,11088,1,10989,1,2539.0,1,11088,1,...,0,0,0,0,1,0,0,1,0,0
65927,57555555-55564848524890,1,748,1,649,1,154.0,1,748,1,...,0,0,0,0,1,0,0,1,0,0